
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("assets/images/fundo.jpg") no-repeat center center;
  background-size: cover;
}


@media (max-width: 768px) {
  .background {
    background-size: contain; 
  }
}
